<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Deploy logs</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
</head>

<body>
  <div class="jumbotron" style="min-height: 100vh;">
    <h1 class="display-4">Deploy logs</h1>
    <p class="lead">Список логов деплоя для различных сервисов.</p>
    <hr class="my-4">
    <div class="list-group">
      <% logTypes.forEach(function(type) { %>
        <a href="/<%= type %>" class="list-group-item list-group-item-action">
          <%= type %>
        </a>
        <% }); %>
    </div>
  </div>
</body>

</html>